html
{
	height: 100%;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	margin: 0px;
}

.row
{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.column
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.grid
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

#operator
{
	font-size: large;
	text-align: right;
}
#answer
{
	width: 200px;
	background-color: rgb(215, 250, 248);
	padding: 8px;
	font-size: x-large;
	text-align: right;
	border: 1px solid black;
}
#equals
{
	background-color: lightblue;
}
#equals:hover
{
	background-color: rgb(0, 124, 155);
}

button
{
	height: 50px;
	width: 50px;
	margin: 2px;
	border-radius: 8px;
	border: 1px dashed darkgray;
}
button:hover
{
	background-color: gray;
}

.calculator
{
	background-color: rgb(209, 209, 209);
	border: 2px solid black;
	border-radius: 8px;
	padding: 8px;
}

.number
{
	font-size: x-large;
}

.highlight
{
	background-color: yellow;
}

/*#clear
{
	flex-grow: 1;
}*/